@charset "utf-8";

@import "bkmgmt.css";

@import "page.css";

@import "jquery/jquery.ui.all.css";

@import "jquery/demos.css";

/* CSS Document */
.classquery { /*主工作区查询模块的样式  */
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0%;
	top: 0%;
	padding: 0px;
	bottom: 1%;
	border: 2px solid #AACCEE;
	background-color: #FFF;
}

.editableTable {
	width: 220px; 22
	padding: 10px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}

.editableTable thead {
	background: #FFFFCC;
}

.selectCell {
	background: #6699FF;
}

#querytabs ul {
	color: red;
	background-color: skyblue;
	height: 25px;
}

#querytabs ul li {
	text-align: center;
	caption-side: top;
	height: 25px;
}

.printDiv {
	position: relative;
	margin: 0px;
	padding: 0px;
	top: 95%;
	left: 8%;
}

.result {
	top: -2px;
	left: 0px;
}

.queryresult {
	top: 34px;
	left: 1px;
}

#col-db,#major-db,#grade-db,#campus-db{
	font-size: 16px;
	width: 180px;
	height: 25px;
	color: #68A8CC;
	font-weight: bolder
}

.result #pagination { /*查询结果中的分页样式*/
	border: none;
	position: absolute;
	height: 20px;
	width: 95%;
	left: 20%;
	top: 110%;
	display: none;
	text-align: center;
}