@charset "utf-8";
/* CSS Document */
@import "bkmgmt.css";
@import "page.css";
@import "jquery/jquery.ui.all.css";
@import "jquery/demos.css";

.condition { /*查询模块的条件子模块的样式  */
	position: absolute;
	height: 20%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	background-color: #FFF;
}

.result { /*重新定义查询结果的top和height*/
	/*查询结果模块的样式  */
	position: absolute;
	margin: 0px;
	padding: 0px;
	height: 65%;
	width: 100%;
	top: 20%;
	border-top: solid 2px #AACCEE;
	background-color: #FFF;
}

#conDiv {
	width: 100%;
	height: 100%;
	padding-top: 10px;
	padding-left: 10px;
}

#bkpubchase {
	width: 150px;
	height: 30px;
	font-size: 20px;
}

#supplier {
	width: 160px;
	height: 30px;
	font-size: 18px;
}

#mask { /*等待时显示的图片*/
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: #000;
	position: absolute;
	top: 0px;
	left: 0px;
	padding-top: 350px;
	filter: alpha(opacity = 30);
	opacity: 0.3;
	display: none;
	z-index: 100;
}
#loading {
	/*loading图片的样式*/
	position: relative;
	/* padding-top:400px; */
	z-index: 101;
	display: block;
}

#info {
	/*等待过程中显示的字符*/
	position: relative;
	font-size: 22px;
	color: #ff0;
	text-align: center;
	z-index: 101;
	display: block;
}