@charset "utf-8";

@import "bkmgmt.css";

@import "page.css";

@import "jquery/jquery.ui.all.css";

@import "jquery/demos.css";

/* CSS Document */
.classquery { /*主工作区查询模块的样式  */
	position: absolute;
	height: 98%;
	width: 100%;
	left: 0%;
	top: 1%;
	padding: 0px;
	bottom: 1%;
	border: 2px solid #AACCEE;
	background-color: #FFF;
}

.editableTable {
	width: 220px; 22
	padding: 10px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}

.editableTable thead {
	background: #FFFFCC;
}

.selectCell {
	background: #6699FF;
}

#grade-cs,#campus-cs,#col-cs,#major-cs,#grade,#campus,#college,#major{
	font-size: 16px;
	height: 25px;
	color: #68A8CC;
	font-weight: bolder
}

#querytabs ul {
	color: red;
	background-color: skyblue;
	height: 25px;
}

#querytabs ul li {
	text-align: center;
	caption-side: top;
	height: 25px;
}

#queryform{
	color: #68A8CC;
	font: Microsoft YaHei;
	font-size: 18px;
	font-weight: bolder
}