@charset "utf-8";
/* CSS Document */

@import "bkmgmt.css";
@import "page.css";
@import "jquery/jquery.ui.all.css";
@import "jquery/demos.css";

#col-c,#major-c{
	/*精确查询的选择列表框的样式*/
	/* text-align:center; */
	width:180px;
}
#col-c{
	font-size:20px;
	color:#68A8CC;
}

#fuzzy-c{
	/*模糊查询文本框的样式*/
	font-size:18px;
	width:180px;
	border:solid 1px #68A8CC;
}
#addbtn{
	width:150px;
}