@charset "utf-8";

/* CSS Document */
@import "bkmgmt.css";

@import "page.css";

@import "jquery/jquery.ui.all.css";

@import "jquery/demos.css";

/* .query {
	主工作区查询模块的样式
    position: absolute;
	height: 98%;
	width: 100%;
	left: 0%;
	top: 1%;
	padding: 0 px;
	bottom: 1%;
	border: 2 px solid #AACCEE;
	background-color: #FFF;
} */

.result {
	/*重新定义查询结果的top和height*/
	/*查询结果模块的样式  */
	position: absolute;
	margin: 0px;
	padding: 0px;
	height: 65%;
	width: 100%;
	top: 20%;
	border-top: solid 2px #AACCEE;
	background-color: #FFF;
}

#publisher-b{
	width:230px;
	font-size:28px;
}

.add { /*主工作区右侧添加课程模块的样式  */
	position: absolute;
	height: 98%;
	width: 25%;
	left: 74.5%;
	top: 1%;
	margin: 0px;
	padding: 0px;
	bottom: 1%;
	right: 0.5%;
	font-size: 18px;
	background-color: #FFF;
	border: 2px solid #AACCEE;
	display: none;
}

#col-c,#major-c,#semester-c,#course-c { /*精确查询的选择列表框的样式*/
	/* text-align:center; */
	font-size: 16px;
	width: 180px;
	height: 25px;
	color: #68A8CC;
	font-weight: bolder
}

#col-c {
	font-size: 18px;
	color: #68A8CC;
}

#fuzzy-c { /*模糊查询文本框的样式*/
	font-size: 18px;
	width: 180px;
	border: solid 1px #68A8CC;
}

#altertable { /*修改模块样式*/
	margin-left: 10px;
	margin-top: 20px;
	font-size: 16px;
	width: 280px;
}

#col-a,#major-a,#corname-a,#semester-a { /*修改模块的表单插件的样式*/
	font-size: 16px;
	height: 25px;
	width: 180px;
}

#col-add,#major-add,#corname-add,#semester-add,#bkname-alter,#bkname-add { /*修改模块的表单插件的样式*/
	font-family: Verdana, Arial, sans-serif;
	font-size: 16px;
	height: 25px;
	width: 200px;
}

.btn-add {
	position: absolute;
	top: 600px;
}

#add { /*添加按钮*/
	width: 100px;
	height: 30px;
}

.btn-update,.btn-add {
	font-family: Verdana, Arial, sans-serif;
	display: inline-block;
	width: 60px;
	padding: 0px;
	border: #666 1px solid;
	line-height: normal;
	margin-right: .1em;
	cursor: pointer;
	vertical-align: middle;
	text-align: center;
	overflow: visible;
	height: 25px;
	background-color: #68A8CC;
	color: #FFFFFF;
	top: 600px;
	position: absolute;
	left: 150px;
}

.btn-return,.btn-return {
	font-family: Verdana, Arial, sans-serif;
	display: inline-block;
	width: 60px;
	padding: 0px;
	border: #666 1px solid;
	line-height: normal;
	margin-right: .1em;
	cursor: pointer;
	vertical-align: middle;
	text-align: center;
	overflow: visible;
	height: 25px;
	background-color: #68A8CC;
	color: #FFFFFF;
	position: absolute;
	top: 600px;
	left: 300px;
}

#querytabs ul {
	color: red;
	background-color: skyblue;
	height: 25px;
}

#querytabs ul li {
	text-align: center;
	caption-side: top;
	height: 25px;
}