/* CSS Document */

#printDiv{
	border-left:1px solid #000000;
	border-top:1px solid #000000;
	border-right:2px solid #000000;
	border-bottom:2px solid #000000;
	text-align:center;
	width:1050px;
	padding:0px;
	margin:0px;
	align:center
}

#printDiv table {
	border-collapse:collapse;
	width:100%;
	padding:0px;
	margin:0px;
}

#printDiv table th {
	font-family: Arial;
	font-size: 20px;
	font-weight: bolder;
	border-top:1px solid #000000;
	border-left:1px solid #000000;
	/*border-bottom:1px solid #000000*/
}

#printDiv table td {
	font-family: Arial;
	font-size: 20px;
	border-top:1px solid #000000;
	border-left:1px solid #000000;
	/*border-bottom:1px solid #000000*/
}

.memo td{
	font-family: Arial;
	font-size: 20px;
}