<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="jdbc.batch_size">20</property>
        <property name="connection.autocommit">true</property>
        <property name="format_sql">true</property>
        <property name="show_sql">true</property>
        <property name="connection.useUnicode">true</property>
        <property name="connection.characterEncoding">UTF-8</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <mapping resource="hbm/College.hbm.xml"/>
        <mapping resource="hbm/Course.hbm.xml"/>
        <mapping resource="hbm/Corplan.hbm.xml"/>
        <mapping resource="hbm/Corbook.hbm.xml"/>
        <mapping resource="hbm/Book.hbm.xml"/>
        <mapping resource="hbm/Supplier.hbm.xml"/>
        <mapping resource="hbm/Corbookview.hbm.xml"/>
        <mapping resource="hbm/Class.hbm.xml"/>
        <mapping resource="hbm/Bookcorsup.hbm.xml"/>
        <mapping resource="hbm/Courclass.hbm.xml"/>
        <mapping resource="hbm/Bkpurchase.hbm.xml"/>
        <mapping resource="hbm/Coursebk.hbm.xml"/>
        <mapping resource="hbm/Bookpurchaseview.hbm.xml"/>
        <mapping resource="hbm/Bookpurchase.hbm.xml"/>

    </session-factory>
</hibernate-configuration>