#toolkit {
	position: relative;
	padding: 0px;
	margin: 0px;
	padding-left: 0px;
	top: 30px;
	width: 100%;
	height: 18%;
	background-color: #FFF;
	color: #68A8CC;
	font-weight: bolder
}



#corplanmain {
	/*课程和教学计划主工作区样式*/
	position: relative;
	width: 100%;
	height: 80%;
	left: 0%;
	top: 50px;
	margin: 0px;
	padding: 0px;
	padding-left: 0px;
	font-size: 16px;
	display: block;
	background-color: #FFF;
}


#course,#corplan {
	/*课程和教学计划列表框的样式*/
	font-size: 18px;
	color: #68A8CC;
	width: 240px;
	height: 300px;
	top: 60px;
	margin: 0px;
	padding: 0px;
	font-weight: bolder
}










