<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <!-- 定义数据源 -->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver">
        </property>
        <property name="url"
                  value="jdbc:mysql://localhost:3306/bookmgmt?useUnicode=true&amp;characterEncoding=UTF-8">
        </property>
        <property name="username" value="root"/>
        <property name="password" value="root"/>
    </bean>
    <!-- 定义与Hibernate参数 -->
    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">
                    com.util.MySQL5LocalDialect
                </prop>
                <prop key="hibernate.show_sql">false</prop>
                <prop key="hibernate.format_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
            </props>
        </property>
        <property name="mappingResources">
            <list>
                <value>com/bean/college/College.hbm.xml</value>
                <value>com/bean/course/Course.hbm.xml</value>
                <value>com/bean/corplan/Corplan.hbm.xml</value>
                <value>com/bean/corbook/Corbook.hbm.xml</value>
                <value>com/bean/book/Book.hbm.xml</value>
                <value>com/bean/supplier/Supplier.hbm.xml</value>
                <value>com/bean/corbook/Corbookview.hbm.xml</value>
                <value>com/bean/cls/Class.hbm.xml</value>
                <value>com/bean/bookcorsup/Bookcorsup.hbm.xml</value>
                <value>com/bean/courclass/Courclass.hbm.xml</value>
                <value>com/bean/bkpurchase/Bkpurchase.hbm.xml</value>
                <value>com/bean/coursebk/Coursebk.hbm.xml</value>
                <value>com/bean/bookpurchaseview/Bookpurchaseview.hbm.xml</value>
                <value>com/bean/bookpurchase/Bookpurchase.hbm.xml</value>
            </list>
        </property>
    </bean>

    <bean id="hibernateTemplate"
          class="org.springframework.orm.hibernate3.HibernateTemplate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <!--College部分 -->
    <!-- 定义与学院College相应的collegeAction -->
    <bean id="collegeAction" class="com.priInfo.college.ColAction">
        <property name="csv" ref="colServ"/>
    </bean>
    <!-- 定义与学院相关的服务colServ -->
    <bean id="colServ" class="com.priInfo.college.ColServImp">
        <property name="collegeDAO" ref="collegeDAO"/>
    </bean>
    <!-- 定义与学院相关的DAO，CollegeDAO -->
    <bean id="collegeDAO" class="com.bean.college.CollegeDAO">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!--Course部分 -->
    <!-- 定义与课程Course相应的courseAction -->
    <bean id="courseAction" class="com.priInfo.course.CourseAction">
        <property name="collgeService" ref="colServ"/>
        <property name="courseService" ref="courseService"/>
        <property name="courseBookViewService" ref="courseBookViewService"/>
    </bean>
    <!-- 定义与课程Course相关的courseService -->
    <bean id="courseService" class="com.priInfo.course.CourseServiceImp">
        <property name="courseDAO" ref="courseDAO"/>
        <property name="collegeDAO" ref="collegeDAO"/>
        <property name="corbookDAO" ref="corbookDAO"/>
        <property name="corplanDAO" ref="corplanDAO"/>
        <property name="coursebkDAO" ref="coursebkDAO"/>
        <property name="bookDAO" ref="bookDAO"/>
    </bean>
    <!-- 定义与课程相应的CourseDAO -->
    <bean id="courseDAO" class="com.bean.course.CourseDAO">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="coursebkDAO" class="com.bean.coursebk.CoursebkDAO">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!--Corplan部分 -->
    <!-- 定义与教学计划Corplan相应的corplanAction -->
    <bean id="corplanAction" class="com.priInfo.corplan.CorplanAction">
        <property name="collgeService" ref="colServ"/>
        <property name="courseService" ref="courseService"/>
        <property name="corplanService" ref="corplanService"/>
    </bean>
    <!-- 定义与教学计划Corplan相应的corplanService -->
    <bean id="corplanService" class="com.priInfo.corplan.CorplanServiceImp">
        <property name="corplanDAO" ref="corplanDAO"/>
        <!--<property name="courplanDAO" ref="CourplanDAO" /> -->
        <property name="courseDAO" ref="courseDAO"/>
        <property name="collegeDAO" ref="collegeDAO"/>
    </bean>
    <!-- 定义与教学计划Corplan相应的CorplanDAO -->
    <bean id="corplanDAO" class="com.bean.corplan.CorplanDAO">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="corbookDAO" class="com.bean.corbook.CorbookDAO">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!-- book -->
    <bean id="bookAction" class="com.printInfo.book.Action.BookAction">
        <property name="bookService" ref="bookService"/>
        <property name="courseService" ref="courseService"/>
        <property name="corbkviewService" ref="courseBookViewService"/>
        <property name="supSer" ref="supService"/>
        <property name="coursebkDao" ref="coursebkDAO"/>
    </bean>
    <bean id="bookService" class="com.printInfo.book.Service.BookServiceImp">
        <property name="bookDAO" ref="bookDAO"/>
    </bean>
    <bean id="courseBookViewService" class="com.printInfo.book.Service.CourseBookViewServiceImpl">
        <property name="corBookViewDAO" ref="corbookviewDAO"/>
        <property name="bookDAO" ref="bookDAO"/>
        <property name="courseDAO" ref="courseDAO"/>
    </bean>
    <bean id="bookDAO" class="com.bean.book.BookDAO">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="corbookviewDAO" class="com.bean.corbook.CorbookviewDAO">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!-- supplier 部分 -->
    <bean id="supAction" class="com.printInfo.supplier.Action.SupAction">
        <property name="supser" ref="supService"/>
        <!-- supSer 是供应商service类 -->
    </bean>
    <bean id="supService" class="com.printInfo.supplier.Service.SupplierServiceImp">
        <property name="supplierDAO" ref="supplierDAO"/>
    </bean>
    <bean id="supplierDAO" class="com.bean.supplier.SupplierDAO">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!-- class部分 -->
    <bean id="classAction" class="com.priInfo.cls.ClassAction">
        <property name="classService" ref="classService"/>
        <property name="collegeService" ref="colServ"/>
    </bean>
    <bean id="classService" class="com.priInfo.cls.ClassServiceImpl">
        <property name="classDAO" ref="classDAO"/>
    </bean>
    <bean id="classDAO" class="com.bean.cls.ClassDAO">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!-- Bkpurchase 部分 -->
    <bean id="bkpurAction" class="com.printInfo.bkpurchase.Action.BkpurAction">
        <property name="bkpurser" ref="bkpurService"/>
        <!-- bkpurser 是购书service类 -->
        <property name="supplierService" ref="supService"/>
    </bean>
    <bean id="bkpurService" class="com.printInfo.bkpurchase.Service.BKPurchaseServiceImp">
        <property name="bkpurdao" ref="bkpurchaseDAO"/>
        <property name="bcsdao" ref="bookcorsupDAO"/>
        <property name="ccdao" ref="courclassDAO"/>
        <property name="bookdao" ref="bookDAO"/>
        <property name="bookpurchaseviewDAO" ref="bookpurchaseviewDAO"/>
        <property name="bookpurchaseDAO" ref="bookpurchaseDAO"/>
    </bean>
    <bean id="bookpurchaseviewDAO" class="com.bean.bookpurchaseview.BookpurchaseviewDAO">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="bookpurchaseDAO" class="com.bean.bookpurchase.BookpurchaseDAO">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="bkpurchaseDAO" class="com.bean.bkpurchase.BkpurchaseDAO">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="courclassDAO" class="com.bean.courclass.CourclassDAO">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="bookcorsupDAO" class="com.bean.bookcorsup.BookcorsupDAO">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="corbkviewDAO" class="com.bean.corbkview.CorbkviewDAO">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!-- <bean id="CourplanDAO" class="com.bean.corplan.CourplanDAO"> <property
        name="sessionFactory"> <ref bean="sessionFactory" /> </property> </bean> -->

    <!-- 发放书本的Action类的配置信息 -->
    <bean id="bkdistService"
          class="com.printInfo.bkdistribute.Service.BKDistributeServiceImp">
        <property name="bookpurchaseviewDAO" ref="bookpurchaseviewDAO"/>
    </bean>

    <bean id="bkdistAction" class="com.printInfo.bkdistribute.Action.BKdistAction">
        <property name="bkdistser" ref="bkdistService"/>
        <property name="bkpurser" ref="bkpurService"/>
        <property name="classService" ref="classService"/>
    </bean>
    <!--new start-->
    <bean id="bookDao_new" class="com.bean.book.BookDaoNew">
        <property name="hibernateTemplate" ref="hibernateTemplate"/>
    </bean>
    <!--new end-->

</beans>